/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #00ff95;
  background: black;
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
}

/* MATRIX BACKGROUND */
#matrix {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background: black;
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

nav a {
  color: #00ff95;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

nav a:hover {
  color: white;
}

/* CONTENT AREA */
.content {
  padding-top: 150px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.accent {
  color: #00ffaa;
}

.subtitle {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.bio {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 30px;
}

.button {
  padding: 12px 25px;
  border: 2px solid #00ffaa;
  border-radius: 6px;
  background: transparent;
  color: #00ffaa;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}

.button:hover {
  background: #00ffaa;
  color: black;
}
